*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Section */
.header{
    background-image: url(/images/donation4.jpg);
    width: 100%;
    height: 300vh;
    background-repeat: no-repeat;
}

